<div class="navBlocker"></div>

<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2><%= user.firstName %> <%= user.lastName %></h2>
        <h2><%= user.email %></h2>
      </div>
    </div>
  </div>
</section>
